<!DOCTYPE html>
<html lang="en">
<head>
	<title>buran - {{title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
	<header>

		{{#if notBG}}
			<a class="lang-select" href="/lang/bg">{{i18n 'Bulgarian'}}</a>
		{{else}}
			<a class="lang-select" href="/lang/en">{{i18n 'English'}}</a>	
		{{/if}}	
		
		{{#if session.user}}
			<div class="user-panel">
				<label class="user-descriptor">{{i18n 'Name'}}: </label><label>{{session.user.name}}</label>
				<label class="user-descriptor">{{i18n 'ID'}}: </label><label>{{session.user.userGroupIdentifier}}</label>
				<a href="/logout">{{i18n 'Logout'}}</a>
			</div>
		{{/if}}	
	</header>
	<nav {{#if noNav}} class="small" {{/if}}>
		<div class="logo"><i class="fas fa-space-shuttle"></i><a>buran</a></div>
		{{#unless noNav}}
			<a href="/devices" class="nav-el home"><i class="fas fa-microchip"></i><label>{{i18n 'Devices'}}</label></a>
			<a href="/segmentation" class="nav-el home"><i class="fas fa-layer-group"></i><label>{{i18n 'Target Group Manager'}}</label></a>
			<a href="/rollout" class="nav-el home"><i class="fas fa-space-shuttle"></i><label>{{i18n 'Rollout Manager'}}</label></a>
		{{/unless}}
	</nav>

<div class="limiter">
	<h1>{{title}}</h1>
	
		{{{body}}}
	
	</div>
	
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

	
</body>
</html>