
<script>
	let deviceIdString = "{{i18n 'Device ID'}}"
	let firmwareVersionString = "{{i18n 'Firmware Version'}}"
	let typeString = "{{i18n 'Type'}}"
	let groupString = "{{i18n 'Group'}}"
	let statusString = "{{i18n 'Status'}}"
	let lastOnlineString = "{{i18n 'Last Online'}}"
	let editString = "{{i18n 'Edit'}}"
	let deleteString = "{{i18n 'Delete'}}"
	let noDeviceFoundString = "{{i18n 'No devices found'}}"

	let deviceStatuses = {"Online": "{{i18n 'Online'}}"
	, "Offline": "{{i18n 'Offline'}}"
	, "Updating...": "{{i18n 'Updating...'}}"
	, "Update Successful -> Rebooting...": "{{i18n 'Update Successful -> Rebooting...'}}"
	, "Update Failed": "{{i18n 'Update Failed'}}"
	, "Scheduled for Update": "{{i18n 'Scheduled for Update'}}"}

	let deviceStatus = stat => {
		if (deviceStatuses[stat]) {
			return deviceStatuses[stat]
		}
		return stat
	}

	let lastOnlineDate = date => {
		if (date == 'now') {
			return "{{i18n 'now'}}"
		}
		return date;
	}
</script>

<div class="container-table100">
	<div class="wrap-table100">
			<div class="table">

				<div class="row header">
					<div class="cell">
						{{i18n 'Device ID'}}
					</div>
					<div class="cell">
						{{i18n 'Type'}}
					</div>
					<div class="cell">
						{{i18n 'Firmware Version'}}
					</div>
					<div class="cell">
						{{i18n 'Group'}}
					</div>
					<div class="cell">
						{{i18n 'Status'}}
					</div>
					<div class="cell">
						{{i18n 'Last Online'}}
					</div>
					<div class="cell">
					</div>
					<div class="cell">
					</div>					
				</div>


				<div class="row noitems">
					<div class="cell" data-title="{{i18n 'Device ID'}}">
						{{i18n 'No devices found'}}
					</div>
					<div class="cell" data-title="{{i18n 'Type'}}">
					</div>
					<div class="cell" data-title="{{i18n 'Firmware Version'}}">
					</div>
					<div class="cell" data-title="{{i18n 'Group'}}">
					</div>
					<div class="cell" data-title="{{i18n 'Status'}}">
					</div>
					<div class="cell" data-title="{{i18n 'Last Online'}}">
					</div>	
					<div class="cell" data-title="{{i18n 'Edit'}}">
					</div>
					<div class="cell" data-title="{{i18n 'Delete'}}">
					</div>												
				</div>

			</div>
	</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="edit-device">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{i18n 'Edit Device'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{i18n 'Close'}}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<label for="group-input" class="modal-label">{{i18n 'Group'}}:</label>
		<input id="group-input" name="group-input" class="modal-input"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">{{i18n 'Save Changes'}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{i18n 'Close'}}</button>
      </div>
    </div>
  </div>
</div>


<script src="js/devices.js"></script>
