<script>
	let errors = {userexists : "{{i18n 'User already exists'}}", wrongpass : "{{i18n 'Wrong username or password'}}"}
</script>

<div class="login">
	<form id="login-form" class="login-form" name="login-form" action="/login" method="POST">
		<label>{{i18n 'Email'}}</label>
		<input class="mandatory" name="email_input" id="email-input"/>
		<label>{{i18n 'Password'}}</label>
		<input class="mandatory" type="password" name="password_input" id="password-input"/>

		<label class="error-mandatory">{{i18n 'Please fill all fields'}}</label>						
		<label class="error-general"></label>

        <div><button type="submit" class="btn btn-primary login-button">{{i18n 'Login'}}</button></div>
        <div><a href="#" class="signup-toggle">{{i18n 'Sign Up'}}</a></div>
    </form>
	<form style="display: none;" class="login-form" id="signup-form" name="signup-form" method="post" action="/signup">
		<label>{{i18n 'Email'}}</label>
		<input class="mandatory" name="email_input" id="email-input"/>
		<label>{{i18n 'Password'}}</label>
		<input class="mandatory" type="password" name="password_input" id="password-input"/>
		<label>{{i18n 'Name'}}</label>
		<input class="mandatory" name="name_input" id="name-input"/>
		<label>{{i18n 'ID'}}</label>
		<input class="mandatory" name="id_input" id="id-input"/>
		
		<label class="error-mandatory">{{i18n 'Please fill all fields'}}</label>						

        <div><button type="submit" class="btn btn-primary signup-button">{{i18n 'Sign Up'}}</button></div>
        <div><a href="#" class="login-toggle">{{i18n 'Login'}}</a></div>
    </form>
</div>

<script src="js/login.js"></script>