<script>
	let nameString = "{{i18n 'Name'}}"
	let targetGroupString = "{{i18n 'Target Group'}}"
	let deviceReachString = "{{i18n 'Device Reach'}}"
	let startTimeString = "{{i18n 'Start Time'}}"
	let throttlingString = "{{i18n 'Throttling'}}"
	let statusString = "{{i18n 'Status'}}"
	let deleteString = "{{i18n 'Delete'}}"
	let noCampaignsCreatedString = "{{i18n 'No campaigns created yet'}}"

	let campaignStatuses = {"New": "{{i18n 'New'}}"
		,"Scheduled": "{{i18n 'Scheduled'}}"
		,"Nothing to Do": "{{i18n 'Nothing to Do'}}"
		,"Skipped": "{{i18n 'Skipped'}}"
		,"Finished": "{{i18n 'Finished'}}"
		,"Finished with errors": "{{i18n 'Finished with errors'}}"}

	let campaignStatus = stat => {
		if (campaignStatuses[stat]) {
			return campaignStatuses[stat]
		}
		if (stat.indexOf("Running") == 0) {
			return "{{i18n 'Running'}}" + stat.substr(7)
		}
		return stat
	}
</script>

<button id="create-campaign" class="create-button" data-toggle="modal" data-target="#create-campaign-modal"><i class="fas fa-plus"></i>{{i18n 'Create new campaign'}}</button>

<div class="container-table100">
	<div class="wrap-table100">
			<div class="table">

				<div class="row header">
					<div class="cell">
						{{i18n 'Name'}}
					</div>
					<div class="cell">
						{{i18n 'Target Group'}}
					</div>
					<div class="cell">
						{{i18n 'Device Reach'}}
					</div>
					<div class="cell">
						{{i18n 'Start Time'}}
					</div>
					<div class="cell">
						{{i18n 'Throttling'}}
					</div>                    
					<div class="cell">
						{{i18n 'Status'}}
					</div>                                        
					<div class="cell">
					</div>
				</div>


				<div class="row noitems">
					<div class="cell" data-title="{{i18n 'Name'}}">
						{{i18n 'No campaigns created yet'}}
					</div>
					<div class="cell" data-title="{{i18n 'Target Group'}}">
					</div>
					<div class="cell" data-title="{{i18n 'Device Reach'}}">
					</div>	
					<div class="cell" data-title="{{i18n 'Start Time'}}">
					</div>	
					<div class="cell" data-title="{{i18n 'Throttling'}}">
					</div>	
					<div class="cell" data-title="{{i18n 'Status'}}">
					</div>		
					<div class="cell" data-title="{{i18n 'Delete'}}">
					</div>						
				</div>


			</div>
	</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="create-campaign-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{i18n 'Create New Campaign'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{i18n 'Close'}}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
			<form id="create-campaign-form" name="create-campaign-form">
				<div class="modal-body">
					<div class="filter-group">
						<label>{{i18n 'Name'}} *</label>
						<input class="mandatory" name="name_input" id="name-input"/>
					</div>	
					<div class="filter-group">
						<label>{{i18n 'Target Group'}} *</label>
						<select class="mandatory" name="target_group" id="target-group">
                            {{#each targetGroups}}
                                <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
						</select>
					</div>	
					<div class="filter-group">
						<label>{{i18n 'Start Time'}} *</label>
						<input class="mandatory" type="datetime-local" name="start_time" id="start-time"/>
					</div>	                    
					<div class="filter-group">
						<label>{{i18n 'Throttling (Devices per hour)'}}</label>
						<input name="throttling" id="throttling"/>
					</div>		                    
					<div class="filter-group">
						<label>{{i18n 'Update File'}} *</label>
						<input class="mandatory fileinput" type="file" name="update_file" id="update-file"/>
					</div>			                    
					<div class="filter-group">
						<label>{{i18n 'New Version'}} *</label>
						<input class="mandatory" name="new_version" id="new-version"/>
					</div>
					<label class="error-mandatory">{{i18n 'Please fill all mandatory fields'}}</label>						
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">{{i18n 'Create'}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{i18n 'Close'}}</button>
      </div>
    </div>
  </div>
</div>

<script src="js/campaign.js"></script>
