<script>
	let noTargetGroupsCreaterYetString = "{{i18n 'No target groups created yet'}}"
	let nameString = "{{i18n 'Name'}}"
	let dateCreatedString = "{{i18n 'Date Created'}}"
	let deleteString = "{{i18n 'Delete'}}"
</script>

<button id="create-target-group" class="create-button" data-toggle="modal" data-target="#create-target-group-modal"><i class="fas fa-plus"></i>{{i18n 'Create new target group'}}</button>

<div class="container-table100">
	<div class="wrap-table100">
			<div class="table">

				<div class="row header">
					<div class="cell">
						{{i18n 'Name'}}
					</div>
					<div class="cell">
						{{i18n 'Date Created'}}
					</div>
					<div class="cell">
					</div>
				</div>


				<div class="row noitems">
					<div class="cell" data-title="{{i18n 'Name'}}">
						{{i18n 'No target groups created yet'}}
					</div>
					<div class="cell" data-title="{{i18n 'Date Created'}}">
					</div>
					<div class="cell" data-title="{{i18n 'Delete'}}">
					</div>						
				</div>


			</div>
	</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="create-target-group-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{i18n 'Create New Target Group'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{i18n 'Close'}}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
			<form id="create-target-group-form" name="create-target-group-form">
				<div class="modal-body">
					<div class="filter-group">
						<label>{{i18n 'Name'}} *</label>
						<input class="mandatory" name="name_input" id="name-input"/>
					</div>				
					<div class="filter-group">
						<label>{{i18n 'Device Type'}} *</label>
						<input class="mandatory" name="type_input" id="type-input"/>
					</div>					
					<div class="filter-group">
						<label>{{i18n 'Device ID'}}</label>
						<select class="operator" name="id_operator" id="id-operator">
							<option value="$eq">{{i18n 'Equals'}}</option>
							<option value="$ne">{{i18n 'Not Equals'}}</option>
						</select>
						<input name="id_input" id="id-input"/>
					</div>
					<div class="filter-group">
						<label>{{i18n 'Firmware Version'}}</label>
						<select class="operator" name="firmware_operator" id="firmware-operator">
							<option value="$eq">{{i18n 'Equals'}}</option>
							<option value="$ne">{{i18n 'Not Equals'}}</option>
							<option value="$gt">{{i18n 'Greater Than'}}</option>
							<option value="$lt">{{i18n 'Less Than'}}</option>
						</select>
						<input name="firmware_input" id="firmware-input"/>
					</div>
					<div class="filter-group">
						<label>{{i18n 'Device Group'}}</label>
						<select class="operator" name="group_operator" id="group-operator">
							<option value="$eq">{{i18n 'Equals'}}</option>
							<option value="$ne">{{i18n 'Not Equals'}}</option>
						</select>
						<input name="group_input" id="group-input"/>
					</div>
          <label class="error-mandatory">{{i18n 'Please fill all mandatory fields'}}</label>
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">{{i18n 'Create'}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{i18n 'Close'}}</button>
      </div>
    </div>
  </div>
</div>

<script src="js/segmentation.js"></script>
