

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
  font-family: Poppins-Regular, sans-serif;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold, sans-serif;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
    font-family: Poppins-Regular, sans-serif;
	background-color: #edeef0;
}

/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input,
select {
    display: block;
    outline: none;
    border-radius: 3px;
    border-radius: 5px;
    border: 1px solid #727b8470;
    height: 33px;
    width: 80%;
    padding: 3px 10px;
}

textarea {
  display: block;
  outline: none;
}


/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
	padding: 70px 50px 70px 300px;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;

  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  padding: 20px 0px;
  font-size: 2.2rem;
}

.wrap-table100 {
  border-radius: 5px;
  overflow: hidden;
}

.table {
  width: 100%;
  display: table;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #fff;
}

.row.header {
  background: #fafafa;
}

@media screen and (max-width: 768px) {
  .row {
    display: block;
  }

  .row.header {
    padding: 0;
    height: 0px;
  }

  .row.header .cell {
    display: none;
  }

  .row .cell:before {
    font-family: Poppins-Bold, sans-serif;
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;

    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.row .cell {
  font-family: Poppins-Regular, sans-serif;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 11px;
  padding-bottom: 11px;
  border-bottom: 1px solid #f2f2f2;
}

.row.header .cell {
  font-family: Poppins-Regular, sans-serif;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 19px;
  padding-bottom: 19px;
}

.row .cell {
  padding-left: 10px;
}
.row .cell:nth-child(1) {
  padding-left: 40px;
}

.table, .row {
  width: 100% !important;
}

.row:hover,
.nav-el:hover {
  background-color: #fafafa;
}

@media (max-width: 768px) {
  .user-descriptor {
    display: none;
  }

  .row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }
  
  .row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .row .cell:nth-child(1) {
    padding-left: 30px;
  }
  
  .row .cell {
    font-family: Poppins-Regular, sans-serif;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .table, .row, .cell {
    width: 100% !important;
  }
}

header {
    position: absolute;
    top: 0;
    height: 60px;
    background-color: #007bff;
    width: 100%;
    z-index: 100;
}
nav {
    position: fixed;
    left: 0;
    height: 100%;
    background-color: white;
    width: 235px;
	z-index: 101;
}


nav .nav-el {
	float: left;
	width: 100%;
	height: 35px;
}

.nav-el label {
    min-height: 35px;
    padding: 5px 0px;
    cursor: pointer;
    cursor: hand;	
}

.nav-el,
.nav-el:hover {
	color: black;
}

nav .fas {
    padding: 0 10px;
}

@media screen and (max-width: 950px) {
  .logo a,
  .nav-el label {
    display: none;
  }
  
  nav {
	width: 60px;
  }
  
  nav .nav-el {
	padding: 6px 0;
  }  
  
  .nav-el i {
    font-size: 24px;
    margin: 0 auto;
    display: block;
    width: 25px;	 
	padding: 0;
  }
  
  .limiter {
    width: 100%;
    margin: 0 auto;
    padding: 70px 20px 70px 80px;
  } 
}

a.findItems {
    display: block;
    position: absolute;
    height: 34px;
    width: 34px;
    top: 0;
    right: 20px;
    cursor: pointer;
    cursor: hand;
    background: url(/images/search-icon.svg) 10px 50% no-repeat;
}

.headerActions {
    float: right;
    padding: 22px 10px;
}

.logo i {
    height: 60px;
    padding: 6px;
    margin-right: -13px;
    margin-left: 10px;
    font-size: 36px;
}

.logo a {
	font-size: 31px;
    margin-left: 6px;

}

.logo {
    color: white;
    background-color: #007bff;
    margin-bottom: 10px;
}

.content {
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.signout,
.signout:hover {
	color: black;
	cursor: hand;
	cursor: pointer;
	float: right;
	margin: 26px 10px;
}

.fa-space-shuttle {
	    transform: rotate(305deg);
}


button {
	padding: 7px 10px;
	text-align: center
}

button:hover {
    outline: initial;
    border-radius: 3px;
    background: #80808029;
}

button .fas {
    margin-right: 10px;
}

.create-button {
    margin-bottom: 10px;
}

.filter-group input, .filter-group select, .filter-group label {
    float: left;
}

.filter-group::after {
    content: "";
    clear: both;
    display: table;
}

.filter-group label {
    display: block;
    width: 170px;
    min-height: 33px;
    padding: 5px 0;
    margin-bottom: 5px;

}

.filter-group input,
.filter-group select {
    width: 320px;
}

.filter-group {
    margin-bottom: 10px;
}
.filter-group select.operator {
    width: 150px;
    margin-right: 10px;
	background-color: #80808029;
}

@media screen and (min-width: 576px) {
	.modal-dialog {
		max-width: 700px;
	}
}

.fileinput {
	border: none;
	border-radius: 0;
    padding-left: 0;
}

nav.small {
  height: 60px;
}

.login-form input {
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;  
}

.login-form div {
  width: 80%;
}

.login-form div button,
.login-form div a {
  margin-bottom: 10px;
}

header .user-panel {
  float: right;
  padding: 18px 30px;
}

.lang-select,
.lang-select:hover  {
    float: right;
    padding: 0;
    margin-top: 18px;
    width: initial;
    height: initial;
    border: none;
    background: none;
    color: white;
	margin-right: 15px;
}


header .user-panel a,
header .user-panel label {
  color:white;
}

header .user-panel label {
  margin-left: 10px;
}

header .user-panel a {
  margin-left: 20px;
}

.error-mandatory,
.error-general {
  display: none;
  color: red;
}